<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login Form</title>
</head>
<body>
    <div class="container">
        <div class="registration-form">
            <h2>Login Form</h2>
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                
                <label for="username">{{ form.username.label }}</label>
                {{ form.username(class="form-control") }}

                <label for="password">{{ form.password.label }}</label>
                {{ form.password(class="form-control") }}


                {{form.submit}}
            </form>
        </div>
    </div>
</body>
</html>
